aiofiles==0.7.0
aiosqlite==0.17.0
altgraph==0.17
asyncua==0.9.14
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
cryptography==3.4.7
future==0.18.2
idna==3.2
importlib-metadata==4.6.4
macholib==1.15
pycparser==2.20
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.2
PyMySQL==1.0.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
six==1.16.0
sortedcontainers==2.4.0
typing-extensions==3.10.0.0
urllib3==1.26.6
zipp==3.5.0
